---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import Container from '../components/Container.astro';
import CodingSVG from '../components/icons/CodingSVG.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
---

<Layout title="Portfolio Sebastián Rodríguez - Software Developer" description="If you're looking for a software developer, I'm your guy. I'm a passionate and creative individual looking for new challenges and opportunities to grow my skills and knowledge.">
	<main>
		<Container id="top" class="pt-20 pb-4">

			<img class="rounded-full w-40 h-40 mb-10" src="https://media.licdn.com/dms/image/v2/D4D03AQFepF-z_Yugiw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1722797724620?e=1732147200&v=beta&t=xejEhqJUzCr5zuN_otp4h4DUzBrmdWCg_MBZWakhn-s" alt="profile-pic"/>

			<h1 class="text-6xl font-bold mb-5">Hi, I'm 
				<span class="inline-block animate-rainbow bg-gradient-to-r from-red-500 via-yellow-500 to-purple-500 text-transparent bg-clip-text pb-2">Sebastián Rodríguez</span>
				<span class="inline-block animate-wave">👋</span>
			</h1>

			<h2 class="text-4xl mb-5 opacity-65">I'm a <span>Software Developer</span></h2>

			<p class="mb-6 text-lg leading-relaxed text-zinc-50 dark:text-gray-300 dark:bg-gray-800  rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
				Since I was a kid, <span class="font-semibold text-purple-600 dark:text-blue-100 animate-pulse">computers</span> 💻 always fascinated
				me. I could spend hours exploring them, and over time, 
				that curiosity led me to discover the world of <span class="font-semibold text-blue-600 dark:text-blue-400">web 
				development</span>. What started as simple experiments eventually 
				became my <span class="font-bold inline-block animate-rainbow bg-gradient-to-r from-red-500 via-yellow-500 to-purple-500 text-transparent bg-clip-text">passion</span>.
			</p>
			<p class="mb-6 text-lg leading-relaxed text-zinc-50 dark:text-gray-300 dark:bg-gray-800 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
				My main focus is on creating <span class="font-semibold text-yellow-300 dark:text-yellow-400 underline decoration-wavy decoration-pink-300">efficient solutions</span> that provide a seamless <span class="font-semibold text-blue-300 dark:text-blue-400 underline decoration-wavy decoration-indigo-300">user experience</span>.
			</p>			
		</Container>

	<Container class="pt-4 pb-4">
		<Carousel />
	</Container>

	<Container id="projects" class="pt-8 pb-8">
		<h2 class="text-4xl mt-10 mb-6 flex items-center gap-x-2 opacity-70">
			<CodingSVG />
			Projects
		</h2>
		<Projects/>
	</Container>

	<Container id="about-me" class="pt-8 pb-8">
		<About />
	</Container>

	<Container id="contact" class="pt-4 pb-4">
		
	</Container>

	</main>
</Layout>

<style>
	@keyframes rainbow {
		0%, 100% {
			background-size: 200% 200%;
			background-position: left center;
		}
		50% {
			background-size: 200% 200%;
			background-position: right center;
		}
	}
	@keyframes wave {
		0%, 100% { transform: rotate(0deg); }
		25% { transform: rotate(20deg); }
		75% { transform: rotate(-15deg); }
	}
	.animate-rainbow {
		animation: rainbow 6s linear infinite;
	}
	.animate-wave {
		animation: wave 2s infinite;
		transform-origin: 70% 70%;
	}
</style>