<div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8 text-gray-200">About Me</h2>
    <div class="flex flex-col md:flex-row items-center justify-center gap-8">
      <div class="w-full md:w-1/3">
        <img 
          src="#" 
          alt="Sebastián Rodríguez" 
          class="rounded-full w-64 h-64 object-cover mx-auto shadow-lg"
        />
      </div>
      <div class="w-full md:w-2/3">
        <p class="text-lg text-gray-400 mb-4 text-pretty leading-relaxed hover:shadow-lg transition-shadow duration-300">
          Hello! I'm Sebastián Rodríguez, a passionate web developer with a keen interest in creating beautiful and functional websites. I specialize in <span class="font-bold inline-block animate-rainbow bg-gradient-to-r from-yellow-500 via-purple-500 to-red-500 text-transparent bg-clip-text">Full Stack Development</span> and <span class="font-bold inline-block animate-rainbow bg-gradient-to-r from-red-500 via-yellow-500 to-purple-500 text-transparent bg-clip-text">Mobile Development</span>.
        </p>
        <p class="text-lg text-gray-400 mb-4">
            I've had the opportunity to work on projects ranging from an 
            <span class="font-semibold text-green-600"><a href="#">AI chatbot</a></span> for businesses, <span class="font-semibold text-yellow-600"><a href="#">mobile apps</a></span>, and <span class="font-semibold text-red-600"><a href="#">Taskies</a></span>, 
            a web app designed to organize notes into different folders and workspaces. 
        </p>
        <p class="text-lg text-gray-400">
          When I'm not coding, you can find me reading a novel or playing volleyball with my friends. I believe in continuous learning and am always excited to take on new challenges in the ever-evolving world of web development.
        </p>
      </div>
    </div>
  </div>