<header class="flex justify-between items-center w-[800px] py-10 h-16">
    <img class="rounded-full w-12 h-12" src="https://media.licdn.com/dms/image/v2/D4D03AQFepF-z_Yugiw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1722797724620?e=1732147200&v=beta&t=xejEhqJUzCr5zuN_otp4h4DUzBrmdWCg_MBZWakhn-s" alt="profile-pic"/>
    <nav class="flex items-center space-x-9">
        <a href="#">Home</a></li>
        <a href="#">About</a></li>
        <a href="#">Projects</a></li>
        <a href="#">Contact</a></li>
    </nav>
</header>