---
import Badge from '../components/icons/Badge.astro';
---

<header class="items-center"> 
    <nav class="flex flex-row gap-x-10 items-center opacity-70 justify-between py-5 w-full lg:w-[700px] mx-auto lg:px-20">
        <a href="#top">Home</a></li>
        <a href="#about-me">About</a></li>
        <div class="flex items-center justify-center animate-pulse">
            <a href="https://www.linkedin.com/in/sebast%C3%ADan-rodr%C3%ADguez-6111a1301/" target="_blank" rel="noopener noreferrer">
                <Badge>Available</Badge>
            </a>
        </div>
        <a href="#projects">Projects</a></li>
        <a href="#contact">Contact</a></li>
    </nav>
</header>